<h1>Coupon Form</h1>

<br />
<br />
<%= form_tag coupons_path do %>
    <p>Input Coupon Code: <%= text_field_tag :'coupon[coupon_code]' %></p>
    <br />
    <p>Input Store: <%= text_field_tag :'coupon[store]' %></p>
    <br />
    <%= submit_tag "Submit Coupon" %>
<% end %>